<h1>Editing musicaltechniquescore</h1>

<%= render "form", musicaltechniquescore: @musicaltechniquescore %>

<br>

<div>
  <%= link_to "Show this musicaltechniquescore", @musicaltechniquescore %> |
  <%= link_to "Back to musicaltechniquescores", musicaltechniquescores_path %>
</div>
