<h1>New musicaltechniquescore</h1>

<%= render "form", musicaltechniquescore: @musicaltechniquescore %>

<br>

<div>
  <%= link_to "Back to musicaltechniquescores", musicaltechniquescores_path %>
</div>
