<h1>Editing musicsymboltype</h1>

<%= render "form", musicsymboltype: @musicsymboltype %>

<br>

<div>
  <%= link_to "Show this musicsymboltype", @musicsymboltype %> |
  <%= link_to "Back to musicsymboltypes", musicsymboltypes_path %>
</div>
