<h1>Editing musicaltechnique</h1>

<%= render "form", musicaltechnique: @musicaltechnique %>

<br>

<div>
  <%= link_to "Show this musicaltechnique", @musicaltechnique %> |
  <%= link_to "Back to musicaltechniques", musicaltechniques_path %>
</div>
