<div id="<%= dom_id musicsymbol %>">
  <p>
    <strong>Musicsymboltype:</strong>
    <%= musicsymbol.musicsymboltype_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= musicsymbol.name %>
  </p>

</div>
