<h1>Editing musicsymbol</h1>

<%= render "form", musicsymbol: @musicsymbol %>

<br>

<div>
  <%= link_to "Show this musicsymbol", @musicsymbol %> |
  <%= link_to "Back to musicsymbols", musicsymbols_path %>
</div>
